* {
  box-sizing: border-box;
}

header {
  text-align: center;
  margin: 0 auto;

}

.main {
  height: 40em;
  margin: 0 auto;
  text-align: center;
  display: flex;
}

.input-boxes {
  display: inline-block;
  padding-top: 20%;
  padding-bottom: 30%;
  width: 50%;

}

.input {

  width: 100%;
}

.inputs {
  width: 80%;

}

#bio-input {
height: 50px;
}

.button {
  width: 35%;
}

.triangles {
  margin: 0 auto;
  padding: 5% 0 15% 0;

}

.triangles img {
  width: 376px;
  height: 556px;


}

footer {
  text-align: center;
}

.footer-links {
  text-align: center;
  display: inline;
  margin: 0 10px;


}


.user-name {
  font-family: "Lora", serif;
  font-size: 38.4px;
  line-height: 46px;
  color: #272727;
}

.user-tagline {
  font-family: "Open Sans", sans-serif;
  font-size: 10.2px;
  line-height: 14px;
  font-weight:  bold;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #000000;
}

.user-bio {
  font-family: "Open Sans", sans-serif;
  font-size: 10.2px;
  line-height: 14px;
  color: #000000;
}

.profile-image {
  display: block;
  max-width:190px;
  max-height:190px;
  width: auto;
  height: auto;
}
