<section class="main">
  <div class="input-boxes">
    <p>Welcome to <span>DevMountain</span> Social <br> Add Some Info So Friends Can Find You</p>

    <div class="input">
      <input class="inputs" type="text" placeholder="Full Name" ng-model="newName">
    </div>
    <div class="input">
      <input class="inputs" type="text" placeholder="Tagline" ng-model="newTag">
    </div>
    <div class="input">
      <input class="inputs" type="text" placeholder="Profile Image URL" ng-model="newImage" >
    </div>
    <div class="input">
      <input id ="bio-input" class="inputs" type="text" placeholder="Bio" ng-model="newDesc">
    </div>

    <div>
      <button class="button" type="button" name="button"ng-click="addUser()">Save Changes</button>
    </div>

  </div>

  <div class="triangles">
    Triangle
  </div>

</section>
