<section class="friendsView">
  <div class="input-boxes">
        <h1>Friends Name Here</h1>

        <div class="tagline">
          <p>
            <span>Something Awesome about person</span>
          </p>
        </div>
        <div class="friendDesc">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>


        <div>
          <button class="button" type="button" name="button">Add Friend</button>
        </div>
  </div>

  <div class="friendImg" >
        <div class="friendsViewer">

          <div class="friends" ng-repeat="data in friendsList">
             <img ng-src="{{data.image}}" ng-alt="{{data.name}}">

          </div>
        </div>
  </div>
</section>
